<header class="li-page-header">
    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <div class="li-brand li-left">
                <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
                <div class="li-menu li-right">
                    <span class="li-menu-icon" onclick="javascript:toggle('menu');">&#9776;</span>
                    <ul id="menu2" class="li-menu-items">
                        {{ range .Site.Menus.main }}
                            <li><a href="{{.URL}}"> {{ .Name }} </a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen columns">
                <ul id="menu" class="li-menu-items li-menu-mobile">
                    {{ range .Site.Menus.main }}
                        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</header>
